body
{
	background-image: url("Sudoku1.jpg");
	background-repeat: no;
	background-size: 100%;
}
#head
{
	font-size: 100px;
	font-family: Ar Darling;
	text-align: center;
}
#c1
{
	font-size: 20px;
	font-weight: bold;
	font-family: Bradley Hand ITC;
	text-align: center;
}
#c2
{
	font-size: 20px;
	font-weight: bold;
	font-family: Bradley Hand ITC;
	text-align: center;
}
#c3
{
	font-size: 20px;
	font-weight: bold;
	font-family: Bradley Hand ITC;
	text-align: center;
}
#c4
{
	font-size: 20px;
	font-weight: bold;
	font-family: Bradley Hand ITC;
	text-align: center;
}
#intro
{
	font-size: 40px;
	font-family: Ar Darling;
	text-align: center;
}
#about
{
	font-size: 40px;
	font-family: Ar Darling;
	text-align: center;
}
#play
{
	font-size: 40px;
	font-family: Ar Darling;
	text-align: center;
}
#tips
{
	font-size: 40px;
	font-family: Ar Darling;
	text-align: center;
}
#footer
{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}