body
{
	background-color: #eee;
}
#b{
	height:60%;
	width:60%;
}
	
#head
{
	font-size: 100px;
	font-family: Ar Blanca;
	color: white;
    background-color: #66ccff;
text-align: center;	
}
#ulist ul
{
	list-style-type: none;
	padding: 0;
	font-size: 50px;
	text-align: left;
	font-weight: bold ;
}
a{
	color: red;
	font-family: Bradley Hand ITC;
}
#footer
{
	clear: both;
	color: black;
	font-size: 30px;
	font-family: Ar Darling;
}